.Button {
    -fx-background-color: #F5F5F5;
    -fx-border-color: #A58155;
    -fx-background-radius: 100px;
    -fx-border-radius: 100px;
}

.book-button {
    -fx-background-color: #ccb3b3;
    -fx-border-color: #A58155;
    -fx-background-radius: 100px;
    -fx-border-radius: 100px;
}

.search-box {
    -fx-background-color: #F5F5F5;
    -fx-background-radius: 100px;
}

.transparent {
    -fx-background-color: rgba(0,0,0,0);
}

.shadow {
    -fx-effect: dropShadow(three-pass-box, rgba(0,0,0,0.1), 10.0, 0.0, 0.0, 10.0);
}

.border-background {
    -fx-border-color: #A58155;
    -fx-border-width: 3;
}

.background {
    -fx-background-image:url("Resources//papelParede.jpg");
    -fx-background-size: 100%;
    -fx-width: 100%;
}

.Button:hover{
    -fx-background-color: #ccb3b3;
}
